iframe{
    margin: auto;
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
@media only screen and (max-width: 800px) {
    iframe{
        width:99%;
    }
}
